<div class='carousel-item active'>
    <div class='row d-flex justify-content-center'>
      <div class='col-lg-4 col-md-9'>
        <a
          class='gallery-image'
          href='https://res.cloudinary.com/dzqus3zoj/image/upload/enactus.jpg'>
          <div class='project-card'>
            <div class='card-header'>
              <img
                src='https://res.cloudinary.com/dzqus3zoj/image/upload/w_350,h_250,c_crop,g_face:auto/v1598980120/enactus.jpg'
                alt=''
              />
            </div>
            <div class='card-footer'>
              <h4>
                Jasper
                <br />
                Asbreuk
              </h4>
            </div>
          </div>
        </a>
      </div>
      <div class='col-lg-4 col-md-9'>
        <a
          class='gallery-image'
          href='https://res.cloudinary.com/dzqus3zoj/image/upload/enactus.jpg'>
          <div class='project-card'>
            <div class='card-header'>
              <img
                src='https://res.cloudinary.com/dzqus3zoj/image/upload/w_350,h_250,c_crop,g_face:auto/v1598980120/enactus.jpg'
                alt=''
              />
            </div>
            <div class='card-footer'>
              <h4>
                Jasper
                <br />
                Asbreuk
              </h4>
            </div>
          </div>
        </a>
      </div>
      <div class='col-lg-4 col-md-9 '>
        <a href='mailto:enactus.utwente@gmail.com'>
          <div class='project-card this-could-be-you'>
            <div class='card-footer '>
              <h4>This could be you!</h4>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>